.edit {
    padding: 2px;
    background-color: grey;
    border: 5px;
    border-color: black
}

.edit:hover {
    color: rgb(0, 238, 255);

}

.delete {
    padding: 2px;
    background-color: grey;
    color: red !important;
}

.delete:hover {
    color: rgb(255, 145, 0) !important;
}

.navigation_link:hover {
    color:aquamarine
}