body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #47bfef;
    color: aliceblue;
    }

#content {
    padding-left: 20px;
    padding-top: 2px;
    background-color: #26547c;
    min-height: calc(80%-10px);
    padding-bottom: 10px;
    }

ul {
    padding-left: 10px;
    margin: 0px;
    list-style-type: none;
    }

a, a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
    }