{% extends "base.html" %}
{% block content %}

<form action="/lessons/{{lesson.id}}" method="post">
    <div>
        <label for="title">title</label>
        <input type = "text" id="title" name="title" value="{{lesson.title}}" required autofocus>
    </div>
    <div>
        <label for="capacity">Lesson Capacity:</label>
        <input type="int" id="capacity" name="capacity" value="{{lesson.capacity}}" required>
    </div>
    <div>
        <label for="lesson_date">Lesson Date:</label>
        <input type="date" id="lesson_date" name="lesson_date" value="{{lesson.lesson_date}}" required>
    </div>

    <button type="submit">Update Lesson</button>
</form>

{% endblock %}