{% extends "base.html" %}
{% block content %}

<form action="/lessons" method="post">
    <div>
        <label for="title">Lesson Title:</label>
        <input type="text" id="title" name="title" required autofocus>
    </div>
    <div>
        <label for="capacity">Lesson Capacity:</label>
        <input type="int" id="capacity" name="capacity" required>
    </div>
    <div>
        <label for="lesson_date">Lesson Date:</label>
        <input type="date" id="lesson_date" name="lesson_date" required>
    </div>
    <button type="submit">Add Lesson</button>
</form>

{% endblock %}