<html>
<head>
    <title>Hobbyist</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/page_header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/form.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/buttons.css')}}">
</head>
<body>
    <main>
    <header id = "navigation_bar">
        <h1 id="Hobbyist"><a href="/">Hobbyist</a></h1>
        <nav>
            <ul id = "navigation">
                <li>
                    <a class="navigation_link" href="/members">Current Members</a>
                </li>
                <li>
                    <a class="navigation_link" href="/lessons">Upcoming Lessons</a>
                </li>
                <li>
                    <a class="navigation_link" href="/bookings/new">Book a Lesson</a>
                </li>
                <li>
                    <a class="navigation_link" href="/members/new">New Member Sign-up</a>
                </li>
                <li>
                    <a class="navigation_link" href="/lessons/new">Create a new Lesson</a>
                </li>
                {# <li>
                    <a class="navigation_link" href="/bookings">Manage Bookings</a>
                </li> #}
            </ul>
        </nav>
    </header>
        <section id = "content">
            {% block content %}

            {% endblock %}
        </section>
    </main>
</body>
</html>