<html>
<head>
    <title>Hobbyist</title>
</head>
<body>
    <main id = "navigation_bar">
        <nav>
            <ul>
                <li>
                    <a href="/">Home Page</a>
                </li>
                <li>
                    <a href="/members">Current Members</a>
                </li>
                <li>
                    <a href="/lessons">Upcoming Lessons</a>
                </li>
                <li>
                    <a href="/members/new">New Member Signup</a>
                </li>
                <li>
                    <a href="/lessons/new">Create a new Lesson</a>
                </li>
            </ul>
        </nav>
        <section id = "content">
            {% block content %}

            {% endblock %}
        </section>
    </main>
</body>
</html>